In [1]:
import pickle
import numpy as np
import pandas as pd

In [59]:
with open('nas90/data_train_predict/2019-06-03.pkl', 'rb') as f:
    data = pickle.load(f)

In [60]:
for key, value in data.items():
    print(key)

pos_adj
neg_adj
features
labels
mask

In [61]:
data['pos_adj'].shape

torch.Size([90, 90])

In [62]:
data['neg_adj'].shape

torch.Size([90, 90])

In [63]:
data['features'].shape

torch.Size([90, 20, 6])

In [64]:
data['labels'].shape

torch.Size([90])

In [65]:
len(data['mask'])

90

In [18]:
with open('csi300fealab.pkl', 'rb') as f:
    data = pickle.load(f)
data

,dt,kdcode,close,high,low,open,to,vol,label
0,2018-12-03,000001.SZ,0.018347,0.018254,0.018982,0.018458,0.125469,0.172416,2.080000e-17
1,2018-12-03,000002.SZ,0.047462,0.047567,0.047847,0.048242,0.172041,0.098539,-2.359527e-02
2,2018-12-03,000063.SZ,0.039212,0.039173,0.039775,0.039120,0.555836,0.380382,-7.960707e-03
3,2018-12-03,000069.SZ,0.009808,0.009765,0.010105,0.009761,0.019064,0.045273,-1.144739e-02
4,2018-12-03,000100.SZ,0.002865,0.002836,0.002959,0.002880,0.020687,0.118699,2.290000e-16
...,...,...,...,...,...,...,...,...,...
252955,2022-12-30,603833.SH,0.231697,0.231878,0.237464,0.232437,0.016707,0.002001,1.141826e-02
252956,2022-12-30,603882.SH,0.148368,0.147955,0.149217,0.144688,0.035236,0.006629,3.019640e-02
252957,2022-12-30,603899.SH,0.103714,0.103814,0.107208,0.104796,0.012163,0.003218,5.324255e-02
252958,2022-12-30,603986.SH,0.195042,0.197178,0.202177,0.199000,0.061990,0.008789,2.977887e-02
252959,2022-12-30,603993.SH,0.006731,0.006757,0.007065,0.006861,0.022141,0.070348,0.000000e+00

In [19]:
with open('nas90fealab.pkl', 'rb') as f:
    data = pickle.load(f)
data

,date,open,high,low,close,adjcp,volume,stockcode,pos,neg,ret_1,label
0,2019-04-09,0.027087,0.026669,0.027101,0.026743,0.026648,0.059211,AAL,0.914460,0.085540,0.983176,1.021315
1,2019-04-09,0.042700,0.042523,0.043470,0.042088,0.040852,1.000000,AAPL,0.767552,0.232448,0.997001,1.005614
2,2019-04-09,0.245494,0.244729,0.249885,0.245061,0.245346,0.011708,ADBE,0.500000,0.500000,1.000670,1.009629
3,2019-04-09,0.100089,0.098790,0.100804,0.098237,0.091089,0.013539,ADI,0.500000,0.500000,0.988813,1.014300
4,2019-04-09,0.145247,0.143911,0.147463,0.143804,0.132388,0.009029,ADP,0.584781,0.415219,0.995139,1.004634
...,...,...,...,...,...,...,...,...,...,...,...,...
62095,2021-12-31,0.044401,0.044097,0.045394,0.044205,0.041776,0.024842,WBA,0.500000,0.500000,1.003270,1.017255
62096,2021-12-31,0.253343,0.251461,0.255592,0.248942,0.249227,0.005497,WDAY,0.500000,0.500000,0.987993,0.965371
62097,2021-12-31,0.056949,0.056712,0.058084,0.056293,0.056602,0.013543,WDC,0.783497,0.216503,0.997552,1.011041
62098,2021-12-31,0.075805,0.075837,0.076842,0.074662,0.074969,0.017545,WYNN,0.500000,0.500000,0.987115,1.032102
62099,2021-12-31,0.058921,0.058446,0.059273,0.058600,0.056723,0.041601,XEL,0.500000,0.500000,0.992232,1.003545

In [107]:
df = pd.read_csv("E:/baselines/HS300.csv")

In [108]:
df['dt'] = pd.to_datetime(df['dt'])
grouped_df = df.groupby('kdcode')
l = df['dt'].nunique()
def filter_groups(group):
    return len(group) == l
df = grouped_df.filter(filter_groups)

In [109]:
df['kdcode'].nunique()

140

In [110]:
stock = "hs300"

In [111]:
df['ret_1'] = df['close'] / df['close'].shift(1)
df['ret_1'] = df['ret_1'].fillna(1)
df['label'] = df['ret_1'].shift(-1)
df['label'] = df['label'].fillna(1)
df.loc[df['dt'] == '2018-01-02', 'ret_1'] = 1
df.loc[df['dt'] == '2023-12-28', 'label'] = 1

In [112]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# cols_to_normalize = ['close', 'open', 'high', 'low', 'volume']
cols_to_normalize = ['close', 'open', 'high', 'low', 'volume', 'turnover']
df[cols_to_normalize] = scaler.fit_transform(df[cols_to_normalize])
df

,kdcode,dt,close,open,high,low,turnover,volume,ret_1,label
0,000001.SZ,2018-01-02,0.004865,0.005158,0.005301,0.005360,0.114687,0.050592,1.000000,0.972993
1,000001.SZ,2018-01-03,0.004723,0.005305,0.005274,0.005312,0.160845,0.072002,0.972993,0.993998
2,000001.SZ,2018-01-04,0.004692,0.005147,0.005088,0.005284,0.098547,0.045073,0.993998,1.003774
3,000001.SZ,2018-01-05,0.004712,0.005104,0.005080,0.005292,0.064370,0.029416,1.003774,0.974436
4,000001.SZ,2018-01-08,0.004581,0.005120,0.005057,0.005175,0.112662,0.052464,0.974436,1.009259
...,...,...,...,...,...,...,...,...,...,...
203975,603993.SH,2023-12-25,0.001492,0.001893,0.001884,0.001960,0.014998,0.018500,1.006122,0.997972
203976,603993.SH,2023-12-26,0.001488,0.001905,0.001880,0.001968,0.011185,0.013779,0.997972,1.032520
203977,603993.SH,2023-12-27,0.001550,0.001897,0.001948,0.001976,0.030747,0.036935,1.032520,1.015748
203978,603993.SH,2023-12-28,0.001581,0.001975,0.001998,0.002052,0.033990,0.039717,1.015748,1.000000
203979,603993.SH,2023-12-29,0.001596,0.001982,0.001986,0.002064,0.020546,0.023996,1.007752,1.000000

In [90]:
df = df.sort_values(by=['dt', 'kdcode'])
df = df.reset_index(drop=True)
df

,kdcode,dt,close,open,high,low,turnover,volume,ret_1,label
0,000001.SZ,2018-01-02,0.004865,0.005158,0.005301,0.005360,0.114687,0.050592,1.000000,0.972993
1,000002.SZ,2018-01-02,0.012119,0.012152,0.012554,0.012656,0.089070,0.016611,1.000000,0.992936
2,000063.SZ,2018-01-02,0.013339,0.014096,0.013928,0.013996,0.128280,0.021865,1.000000,1.026868
3,000069.SZ,2018-01-02,0.003019,0.003284,0.003482,0.003421,0.029534,0.020081,1.000000,1.005618
4,000100.SZ,2018-01-02,0.001100,0.001499,0.001499,0.001561,0.013984,0.021678,1.000000,1.020460
...,...,...,...,...,...,...,...,...,...,...
203975,601989.SH,2023-12-29,0.001185,0.001569,0.001579,0.001630,0.015134,0.022240,1.017241,1.530266
203976,601998.SH,2023-12-29,0.001631,0.002052,0.002032,0.002125,0.004988,0.005695,0.994361,15.306238
203977,603799.SH,2023-12-29,0.012262,0.012635,0.012611,0.013091,0.031555,0.005800,1.005496,3.689645
203978,603833.SH,2023-12-29,0.026370,0.026658,0.026656,0.027610,0.008394,0.000732,1.008256,0.099698
203979,603993.SH,2023-12-29,0.001596,0.001982,0.001986,0.002064,0.020546,0.023996,1.007752,1.000000

In [91]:
df[df['dt']>'2023-01-01']['dt'].unique()

<DatetimeArray>
['2023-01-03 00:00:00', '2023-01-04 00:00:00', '2023-01-05 00:00:00',
 '2023-01-06 00:00:00', '2023-01-09 00:00:00', '2023-01-10 00:00:00',
 '2023-01-11 00:00:00', '2023-01-12 00:00:00', '2023-01-13 00:00:00',
 '2023-01-16 00:00:00',
 ...
 '2023-12-18 00:00:00', '2023-12-19 00:00:00', '2023-12-20 00:00:00',
 '2023-12-21 00:00:00', '2023-12-22 00:00:00', '2023-12-25 00:00:00',
 '2023-12-26 00:00:00', '2023-12-27 00:00:00', '2023-12-28 00:00:00',
 '2023-12-29 00:00:00']
Length: 242, dtype: datetime64[ns]

In [92]:
df.to_pickle(f"{stock}fealab.pkl")