In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("E:/baselines/HS300.csv")
# data = data.drop(columns=['Adj Close'])
# data.rename(columns={'Date':'date', 'Open':'open', 'High':'high', 'Low':'low', 'Close':'close', 'Volume':'volume', 'company':'tic'}, inplace=True)
data.rename(columns={'dt':'date', 'kdcode':'tic'}, inplace=True)

In [9]:
data['date'] = pd.to_datetime(data['date'])
grouped_df = data.groupby('tic')
l = data['date'].nunique()
def filter_groups(group):
    return len(group) == l
df = grouped_df.filter(filter_groups)
df

,tic,date,close,open,high,low,turnover,volume
0,000001.SZ,2018-01-02,13.70,13.35,13.93,13.32,2.856544e+09,208159255.0
1,000001.SZ,2018-01-03,13.33,13.73,13.86,13.20,4.006221e+09,296249838.0
2,000001.SZ,2018-01-04,13.25,13.32,13.37,13.13,2.454544e+09,185450948.0
3,000001.SZ,2018-01-05,13.30,13.21,13.35,13.15,1.603290e+09,121031272.0
4,000001.SZ,2018-01-08,12.96,13.25,13.29,12.86,2.806099e+09,215862081.0
...,...,...,...,...,...,...,...,...
203975,603993.SH,2023-12-25,4.93,4.90,4.95,4.87,3.735495e+08,76115676.0
203976,603993.SH,2023-12-26,4.92,4.93,4.94,4.89,2.785764e+08,56692336.0
203977,603993.SH,2023-12-27,5.08,4.91,5.12,4.91,7.658313e+08,151966596.0
203978,603993.SH,2023-12-28,5.16,5.11,5.25,5.10,8.466125e+08,163415379.0
203979,603993.SH,2023-12-29,5.20,5.13,5.22,5.13,5.117511e+08,98730274.0

In [10]:
df['tic'].nunique()

140

In [11]:
df_unique = pd.DataFrame({'date': df['date'].unique()})
df_unique['2022-07-01' < df_unique['date']]['date']

1091   2022-07-04
1092   2022-07-05
1093   2022-07-06
1094   2022-07-07
1095   2022-07-08
          ...
1452   2023-12-25
1453   2023-12-26
1454   2023-12-27
1455   2023-12-28
1456   2023-12-29
Name: date, Length: 366, dtype: datetime64[ns]

In [12]:
from tqdm import tqdm
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols_to_normalize = ['close', 'open', 'high', 'low', 'volume', 'turnover']

for stock in tqdm(df['tic'].unique()):
    tmp = df[df['tic'] == stock].reset_index(drop=True)
    # tmp[cols_to_normalize] = scaler.fit_transform(tmp[cols_to_normalize])
    tmp.to_csv(f"hs300/{stock}.csv")

100%|██████████| 140/140 [00:02<00:00, 49.88it/s]